@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px; /* Width of vertical scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* Track color */
}

::-webkit-scrollbar-thumb {
  background: #cccccc; /* Thumb color */
 /* border-radius: 4px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background: #c2c2c2; /* Hover color */
}
body{
  background: #EBEEF2;
}